
#contentBlog{
    background: #ffe8c6;
}
#blogPhoto{
    background: #ffe4c4;
    width:100px;
}
#blogTitle{
    font-weight: 600;
    font-size: 50px;
    color: brown;
}
#menuBackground{
background:#ffe4c4;
}
#menuItem{
    color: brown;
    font-size:larger;
    font-weight: 600;
}
#contentBody {
    background: #ffffdf;
}
#colorFont{
    color: brown;
}

#articlePhoto{
    margin:10px;
    width:200px;
}
#comment{
    color:brown;
    font-size: 20px;
    font-weight: 300;
}
.bs-example  div[class^="col"] {
    border: 1px solid white;
    background: #ffe8c6;
    text-align: center;
    color:#262951;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-outside: 10px;

}
#formSearch{
    overflow:hidden;
    overflow-wrap: break-word;
}

#itemFooter{
    background:#fff9c4;
}
#sidebarItem {
    color: #222222;
    font-size: medium;
}
#sidebar{
    background: #ffe4c4;
}
#footer{
    background: #dffffd;
}
#paginare{
    font-size: 40px;
    font-weight: 600;
}


